.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #3967d2;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #00050f;
    color: #d2393b;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.unique-text {
    font-family: 'Montserrat', serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #293a3a;
    animation: bounce 1s infinite;
} */

.unique-text {
    font-family: 'oswald', cursive;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #708090;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
.unique-text-1 {
    font-family: 'oswald', cursive;
    font-size: 26px;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}